<configuration>
    <property name="ENVIRONMENT" value="local"/>
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://192.168.0.105:3100/loki/api/v1/push</url> <!-- your Loki endpoint -->
        </http>
        <format>
            <label>
                <pattern>app=league-agg,level=%level,service=league-agg-${ENVIRONMENT},host=${ENVIRONMENT}</pattern>
            </label>
            <message>
                <pattern>%level %logger{36} message: "%message" </pattern>
            </message>
            <sortByTime>true</sortByTime>
        </format>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%X{X-Request-ID}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="LOKI"/>
    </root>
    <logger name="io.netty" level="OFF"/>

</configuration>
